@import 'tailwindcss';

:root {
	--color-cab18a: #cab18a;
	--color-5c524b: #5c524b;
	--color-cccccc: #cccccc;
	--color-dfdfdf: #dfdfdf;
	--color-7d7e7e: #7d7e7e;
	--font-roboto: 'Roboto', sans-serif;
	--font-source: 'Source Serif 4', serif;
	--color-white: #ffffff;
}

@layer utilities {
	.font-roboto {
		font-family: var(--font-roboto);
	}

	.font-source {
		font-family: var(--font-source);
	}

	.bg-header-img {
		background: url('/img/header-2xl.jpg') no-repeat center/cover;
	}

	.bg-footer-img {
		background: url('/img/footer-bg-img.jpg') no-repeat center/cover;
	}

	.color-cab18a {
		color: var(--color-cab18a);
	}

	.color-5c524b {
		color: var(--color-5c524b);
	}

	.color-cccccc {
		color: var(--color-cccccc);
	}

	.border-color-dfdfdf {
		border-color: var(--color-dfdfdf);
	}

	.color-7d7e7e {
		color: var(--color-7d7e7e);
	}

	.main-title {
		@apply text-center text-6xl font-semibold;
		font-family: var(--font-source);
	}

	.bg-about-as {
		background: linear-gradient(360deg, #eee7da 4.75%, rgba(255, 255, 255, 0.1) 100%);
	}

	.team-title {
		@apply  font-semibold text-xl mb-1 xl:text-3xl text-center xl:text-left;
		font-family: var(--font-source);
	}

	.team-subtitle {
		@apply mb-7 block text-center text-base xl:text-xl xl:text-left;
		color: var(--color-cab18a);
	}

	.team-container {
		@apply flex gap-5 flex-col items-center mr-2.5 xl:items-start xl:flex-row xl:gap-40;
	}
	
	.team-container-reverse {
		@apply flex gap-5 flex-col items-center ml-2.5 xl:items-start xl:flex-row-reverse xl:gap-40;
	}

	.color-292424 {
		color: #292424;
	}

	.our-team-p {
		@apply mb-8 text-center xl:text-left;
	}

	.team-img {
		max-width: 510px;
		width: 100%;
		max-height: 596px;
		height: 100%;
		padding: 0 10px;
		@apply xl:mb-8
	}

	.read-more-btn {
		@apply ml-auto mb-10 cursor-pointer flex xl:hidden text-sm;
	}
}

@layer base {
	.container {
		@apply mx-auto px-8;
	}
}

.container {
	max-width: 1440px;
}

html {
	scroll-behavior: smooth;
}
